.banner--billboard {
  background-image: url(../IMG/banner_entradas4.jpg);
}

.container {
  max-width: 70%;
  margin: 60px auto;
} 

.container-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 0;
}

.container-item {
  position: relative;
  width: calc(50% - 10px);
  margin: 0 0 20px 0;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  height: auto;
  cursor: pointer;
}

.container-item img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.title {
  background-color: #0B0B0B;
  color: #fff;
  padding: 8px;
  height: 50px;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.genre {
  all: unset;
  position: absolute;
  top: 15px;
  left: 15px;
  background-color: #b20000;
  color: #ffffff;
  padding: 15px;
  border-radius: 30px;
  font-size: 14px;
  margin: 15px 0 0 10px;
}

@media (min-width: 990px) {
  .container-item {
    width: calc(25% - 10px);
  }
}