.popup {
    z-index: 200;
    position: absolute;
    background-color: antiquewhite;
    background-image: url('../IMG/popup-obra7.jpg');
    background-size: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    visibility: hidden;
}

.popup__content {
    position: relative;
}

.popup__overview {
    background-color: black;
    padding: 20px;
    font-size: 12px;
    text-align: right;
}

.popup__img {
    width: 30%;
    position: absolute;
    margin-left: 45px;
    margin-top: 40px;
}

.popup__information {
    margin-left: 380px;
}

.popup__info1 {
    display: flex;
}

.popup__info1 p {
    padding: 10px;
    border: 1px solid white;
    margin-right: 15px;
    border-radius: 10px;
}

.popup__info2 {
    display: flex;
    align-items: center;
    margin: 0;
}

.popup__overview p {
    margin-left: 400px;
}

.popup__info2 div {
    display: flex;
}

.pop__info2__item {
    display: flex;
    align-items: center;
}

.pop__info2__item p {
    margin-right: 20px;
}



.icon-popup {
    margin-right: 5px;
}

.popup h1, h3, h4 {
    margin:0;
}


.popup__information h3, h4{
    font-weight: 400;
}