
.banner--programming {
    background-image: url(../IMG/banner_programacion.jpg);
}

.date {
    background-color: #b0802c;
    width: 60px;
    line-height: 2px;
    position: absolute;
    top: 0;
    left: 40px;
}

.date__day {
    font-weight: 600;
    font-size: 20px;
}

.date__month {
    font-size: 15px;
}

.grid-item h2 {
    font-family: 'GothamLight', sans-serif;
    letter-spacing: 0.15em;
    margin-left: 20px;
    margin-right: 20px;
}

.shows__rectangle {
    background-color: #b20000;
    text-align: center;
    color: #ffffff;
    font-weight: 300;
    padding: 10px;
}

.shows__rectangle h2 {
    font-family: 'GothamLight' , sans-serif;
    letter-spacing: 0.15em;
}

.shows__grid {
    margin: 50px;
    color: #ffffff;
    font-weight: 400;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
}

.grid-item__button {
    all: unset;
    background-color: #b20000;
    color: #ffffff;
    padding: 15px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 14px;
}

.grid-item__button:hover {
    background-color: #b0802c;
}

.grid-item {
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 400px;
}

.grid-item--image-1 {
    background-image: url(../IMG/programming_1.jpg);
}

.grid-item--image-2 {
    background-image: url(../IMG/programming_2.jpg);
}

.grid-item--image-3 {
    background-image: url(../IMG/programming_3.jpg);
}

.grid-item--image-4 {
    background-image: url(../IMG/programming_4.jpg);
}

.grid-item--image-5 {
    background-image: url(../IMG/homepage_show1.jpg);
}

.grid-item--image-6 {
    background-image: url(../IMG/homepage_show3.jpg);
}

.grid-item--image-7 {
    background-image: url(../IMG/programming_7.jpg);
}

.grid-item--image-8 {
    background-image: url(../IMG/homepage_show2.jpg);
}


@media screen and (min-width: 990px) {
    /*ULTIMAS INCORPORACIONES*/
    .shows__grid--columns {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 400px;
        grid-gap: 30px;
    }

}