main {
  margin: 40px;
}

.container {
  text-align: center;
}

.asientos_escenario {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.seating-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0B0B0B;
  padding: 20px;
  max-width: 100%;
}

.row {
  display: flex;
  justify-content: space-between;
}

.seat {
  width: 7px;
  height: 7px;
  margin: 1.5px;
  background-color: #37B02C;
  border: 1px solid #37B02C;
  cursor: pointer;
  border-radius: 100%;
}

.seat.selected {
  background-color: blue;
  border: 1px solid blue;
}

.seat.reserved {
  background-color: #e74c3c;
  border: 1px solid #e74c3c;
  cursor: not-allowed;
}

.seat:not(.reserved):hover {
  background-color: white;
  border: 1px solid white;
}

.aisle {
  width: 7px;
  height: 7px;
  margin: 1.5px;
  visibility: hidden;
}

.stage {
  display: flex;
  width: 550px;
  height: 100px;
  background-color: #0B0B0B;
  margin: 20px auto;
  color: white;
  align-items: center;
  font-size: 13px;
  justify-content: center;
}

.key {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 15px;
}

.key ul {
  font-size: 14px;
  display: flex;
  list-style: none;
  padding: 0;
  margin-right: 40px;
}

.key li {
  display: flex;
  margin-left: 15px;
  align-items: center;
}

.button {
  all: unset;
  background-color: #b20000;
  color: #ffffff;
  padding: 15px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.circler {
  width: 10px;
  height: 10px;
  margin: 1.5px;
  background-color: #E20404;
  border: 1px solid #E20404;
  border-radius: 100%;
  margin-right:10px;
}

.circleg {
  width: 10px;
  height: 10px;
  margin: 1.5px;
  background-color: #37B02C;
  border: 1px solid #37B02C;
  border-radius: 100%;
  margin-right:10px;
}

.chevron-left {
  margin-right: 5px;
}

@media (min-width: 1000px) {
  .seat {
    width: 18px;
    height: 18px;
    margin: 2px;
  }

  .aisle {
    width: 18px;
    height: 18px;
    margin: 3px;
  }

  .stage {
    width: 1100px; /*1150*/
    height: 125px;
    margin: 20px;
  }

  .seating-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0B0B0B;
    padding: 20px;
    width: 900px; /*1000*/
    max-width: none;
  }

  .key ul {
    font-size: 14px; /*20*/
    margin-right: 80px;
  }

  .circler{
    width:15px;
    height: 15px;
  }

  .circleg{
    width:15px;
    height: 15px;
    }
  }