$primary-color: #b20000;
$background-color: #b0802c;
$font-color: white;
$font-family-titles: 'GothamLight', sans-serif;
$letter-spacing: 0.15em;


.banner--programming {
    background-image: url(../IMG/banner_programacion.jpg);
}

.date {
    background-color: $background-color;
    width: 60px;
    line-height: 2px;
    position: absolute;
    top: 0;
    left: 40px;

    &__day {
        font-weight: 600;
        font-size: 20px;
    }

    &__month {
        font-size: 15px;
    }
}

.shows__rectangle {
    background-color: $primary-color;
    text-align: center;
    color: $font-color;
    font-weight: 300;
    padding: 10px;

    h2 {
        font-family: $font-family-titles;
        letter-spacing: $letter-spacing;
    }
}

.shows__grid {
    margin: 50px;
    color: $font-color;
    font-weight: 400;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
}

.button--programming {
    margin-top: 20px;
}

.grid-item {
    color: $font-color;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 400px;

    h2 {
        font-family: $font-family-titles;
        letter-spacing: $letter-spacing;
        margin: 0 20px 0 20px;
    }

    &__button:hover {
        background-color: $background-color;
    }

    &--image-1 {
        background-image: url(../IMG/romeoandjuliet.jpeg);
    }

    &--image-2 {
        background-image: url(../IMG/macbeth.jpeg);
    }

    &--image-3 {
        background-image: url(../IMG/hamlet.jpeg);
    }

    &--image-4 {
        background-image: url(../IMG/thenutcracker.jpeg);
    }

    &--image-5 {
        background-image: url(../IMG/thedivinecomedy.jpeg);
    }

    &--image-6 {
        background-image: url(../IMG/oedipustheking.jpeg);
    }

    &--image-7 {
        background-image: url(../IMG/thephantomoftheopera.jpeg)
    }

    &--image-8 {
        background-image: url(../IMG/homepage_show2.jpg);
    }
}

@media screen and (min-width: 990px) {
    .shows__grid--columns {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 400px;
        grid-gap: 30px;
    }
}